@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<td>
    <a class="btn btn-primary text-white" asp-action="CompleteChore" asp-route-Id="@Model">
        <i class="fas fa-arrow-right"></i>
    </a>
</td>