@using ChoreChampion.Utility
@{
    ViewData["Title"] = "Home";
}
<body>
    <div class="text-center" id="landing-page">
        <h1 class="text-white header-bold">Welcome to ChoreChampion</h1>
    </div>

    <div class="d-flex">
        <div class="landing-page-intro-container w-50 p-4 bg-dark">
            <p id="heavier-font-italicized">
                ChoreChampion is an application that makes managing house-hold chores easier than ever.
            </p>
            <hr id="landing-page-hr" />
            <ul class="landing-page-list">
                <li>
                    Create new chores with due dates, before pictures and descriptions.
                </li>
                <li>Assign chores to users.</li>
                <li>Create recurring chores.</li>
                <li>
                    Create categories and subcategories for easier organization of chores.
                </li>
                <li>Give users points for completing chores that can be returned for rewards.</li>
            </ul>
        </div>

        <div class="p-4 flex-fill">
            @*If no user is logged in then show login and register options*@
            @if (User.Identity.Name == null)
            {
                <a asp-area="Identity" asp-controller="Account" asp-action="Login" type="button" class="btn btn-primary btn-lg btn-block">Log In</a>
                <a asp-area="Identity" asp-controller="Account" asp-action="Register" type="button" class="btn btn-success btn-lg btn-block">Register</a>
            }
            else
            {
                if (User.IsInRole(StaticDetails.RegularUser))
                {
                    @*TO DO: Make this link to regular user chore section *@
                    <a asp-area="NonAdmin" asp-controller="Chore" asp-action="Index" type="button" class="btn btn-primary btn-block btn-lg">My Chores &nbsp; <i class="fas fa-tasks"></i></a>
                }
                else
                {
                    <a asp-area="Admin" asp-controller="Chore" asp-action="Index" type="button" class="btn btn-primary btn-lg btn-block">Manage Chores &nbsp; <i class="fas fa-tasks"></i></a>
                }
            }
        </div>
    </div>
</body>